
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,
body, * {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  padding: 10px;
  width: 100%;
  margin: 0;
}


/* STYLES PROGRESS SCROLLBAR  */

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: #892331;
  z-index: 100;
}

#progressbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #892331;
  filter: blur(10px);
}

#progressbar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #892331;
  filter: blur(30px);
}


/* STYLES PARALLAX EFFECT */

h2 {
  font-size: 125px;
}

.section-background {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax {
  background-image: url("https://res.cloudinary.com/dl38nyo08/image/upload/v1654615348/Roccolo%20del%20Lago/degustazioni_zs5pmi.png"); 
}

.parallax1 {
  background-image: url("https://res.cloudinary.com/dl38nyo08/image/upload/v1655394841/Roccolo%20del%20Lago/casual%20img/pexels-andrea-piacquadio-3756623_ruiuh7.jpg");
}

.parallax2 {
  background-image: url("https://res.cloudinary.com/dl38nyo08/image/upload/v1655394258/Roccolo%20del%20Lago/casual%20img/pexels-pixabay-39511_nkcwju.jpg");
}

.parallax3 {
  background-image: url("https://res.cloudinary.com/dl38nyo08/image/upload/v1655394247/Roccolo%20del%20Lago/casual%20img/pexels-tim-mossholder-953166_mirtjj.jpg");
}

.text-bloc p {
  margin: 75px;
  font-size: 22px;
}

/* END STYLES PARALLAX EFFECT */