@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,
body, * {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

/* STYLE REMOVE ARROW input[type=number] */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* END STYLE REMOVE ARROW input[type=number] */

a {
  color: inherit;
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.navbar-container{
  z-index: 999;
  display: flex;
  justify-content: space-between;
  margin: 10px 25px;
  position: relative;
  background: #fff;
  height: 100px;
}

.main-container {
  padding: 0 10px;
  width: 100%;
  margin: 0;
}


/* STYLES PROGRESS SCROLLBAR  */

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: #892331;
  z-index: 100;
}

#progressbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #892331;
  filter: blur(10px);
}

#progressbar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #892331;
  filter: blur(30px);
}

/* END STYLES PROGRESS SCROLLBAR  */


/* STYLES PARALLAX EFFECT */

.section-background {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax {
  background-image: linear-gradient(rgba(5, 0, 0, 0.5), rgba(5, 0, 0, 0.5)), url("https://res.cloudinary.com/dl38nyo08/image/upload/v1654615348/Roccolo%20del%20Lago/degustazioni_zs5pmi.png"); 
  flex-direction: column;
  height: 100vh;
}

.parallax1 {
  background-image: linear-gradient(rgba(5, 0, 0, 0.5), rgba(5, 0, 0, 0.5)), url("https://res.cloudinary.com/dl38nyo08/image/upload/v1655394841/Roccolo%20del%20Lago/casual%20img/pexels-andrea-piacquadio-3756623_ruiuh7.jpg");
  padding: 100px 0;
}

.parallax2 {
  background-image: linear-gradient(rgba(5, 0, 0, 0.5), rgba(5, 0, 0, 0.5)), url("https://res.cloudinary.com/dl38nyo08/image/upload/v1655394258/Roccolo%20del%20Lago/casual%20img/pexels-pixabay-39511_nkcwju.jpg");
  padding: 100px 0;
}

.parallax-form {
  background-image:  linear-gradient(rgba(150, 8, 8, 0.4), rgba(117, 4, 4, .6)), url('https://res.cloudinary.com/dl38nyo08/image/upload/v1664527652/Roccolo%20del%20Lago/wine-shop_d5qmyw.jpg');
  margin: 30px 0;
}

/* END STYLES PARALLAX EFFECT */


/* STYLE MAIN */

.intro-title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.box-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-intro {
  height: 100%;
  width: 100%;
  padding: 100px 0;
  background: linear-gradient(rgba(5, 0, 0, 0.5), rgba(5, 0, 0, 0.5)), url(https://res.cloudinary.com/dl38nyo08/image/upload/v1664462336/mapapp/roccolo-roccolo_v1pmex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}

.box-txt-img {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.box-txt,
.box-img {
  width: 50%;
}

.box-txt {
  margin-right: 10px;
}

.box-txt p {
  font-size: medium;
  padding-bottom: 10px;
  color: white;
}

.box-img {
  max-height: 500px;
  margin-left: 10px;
}

.parallax1 h3 {
  font-size: 50px;
}

.parallax1 h4 {
  font-size: 35px;
  margin: 20px 0;
}

.background-opacity {
  background: linear-gradient(rgba(5, 0, 0, 0.5), rgba(5, 0, 0, 0.5));
  padding: 20px;
  width: 85%;
  border-radius: 10px;
}

.background-opacity-form {
  background: linear-gradient(rgba(5, 0, 0, 0.5), rgba(5, 0, 0, 0.5));
  margin: 50px 0;
  padding: 40px 0;
  width: 55%;
  border-radius: 10px;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);
}

/* END STYLE MAIN */


/* STYLES PROPOSALS */

  /* STYLES SWIPER */
    .mySwiper {
      z-index: 99999;
    }
  /* END STYLES SWIPER */

.proposal {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.proposal h1 {
  text-align: center;
  color: white;
}

.proposal img {
  width: 50%;
  height: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.parallax-proposal-1 {
  background-image: linear-gradient(rgba(5, 0, 0, 0.5), rgba(5, 0, 0, 0.5)), url("https://res.cloudinary.com/dl38nyo08/image/upload/v1654615348/Roccolo%20del%20Lago/degustazioni_zs5pmi.png");
}

.parallax-proposal-2 {
  background-image: linear-gradient(rgba(5, 0, 0, 0.5), rgba(5, 0, 0, 0.5)), url("https://res.cloudinary.com/dl38nyo08/image/upload/v1654615348/Roccolo%20del%20Lago/degustazioni_zs5pmi.png");
}

.parallax-proposal-3 {
  background-image: linear-gradient(rgba(5, 0, 0, 0.5), rgba(5, 0, 0, 0.5)), url("https://res.cloudinary.com/dl38nyo08/image/upload/v1654615348/Roccolo%20del%20Lago/degustazioni_zs5pmi.png");
}

/* END STYLES PROPOSALS */


/* STYLE VERTICAL STEPPER FORM */

/* .css-16r9pk3 {
  max-width: 1000px;
  width: 100%;
} */

.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepper span,
.css-1hv8oq8-MuiStepLabel-label.Mui-active,
.css-1hv8oq8-MuiStepLabel-label.Mui-completed {
  color: white;
  font-size: large;
}

  /* STYLES FORM > SELECT */

  .select-tasting {
    position: relative;
  }

  .select-tasting select {
    -webkit-appearance: none;
    padding: 5px 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #e8eaed;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
  }

  .select-tasting select:required:invalid {
    color: #5a667f;
  }

  .select-tasting select option {
    color: #223254;
  }

  .select-tasting select option[value=""][disabled] {
    display: none;
  }

  .select-tasting select:focus {
    outline: none;
    border-color: #07f;
    box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
  }

  /* END STYLES FORM > SELECT */

/* END STYLE VERTICAL STEPPER FORM */

