.bottomNav {
    visibility: hidden;
}

@media only screen and (max-width: 480px) {
    
    .bottomNav {
        visibility: visible;
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 0;
        border-top: 1px solid grey;
        z-index: 3;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bnTab {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid grey;
        height: 70%;
    }

    .bnTab:nth-child(3) {
        border-right: 1px solid transparent;
    }

}