
.menu {
    display: none;
}

.menu li {
    display: flex;
    flex-direction: row;
    width: auto;
    flex-grow: 2;
}

.menu li a {
    margin-left: 10px;
    padding: 5px 5px;
}

.menu li a:nth-child(1) {
    margin-left: 20px;
}

.navIcon {
    display: flex;
    align-items: center;
}

.langContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
}

.langIcons {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {
    .menu {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .link {
        border-bottom: 2px solid transparent;
        
        cursor: pointer;
    }
    
    .link:hover {
        border-bottom: 2px solid rgba(137, 35, 49, 0.6);
        opacity: 0.6;
    }

    .active {
        border-bottom: 2px solid rgba(137, 35, 49, 0.8);
        color: rgba(137, 35, 49, 0.8);
    }
}

@media only screen and (max-width: 1199px) {
    .langIcons {
        margin: 0 4px;
    }
}