  /* 
  ################################
              PRODUCTS
  ################################
  */

  .mx20 {
    margin: 0 20px;
  }

  .w50 {
    width: 50%;
  }

  .fxCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .center {
    text-align: center;
  }

  .title {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 20px;
    text-align: center;
  }

  .details {
    font-weight: bold;
  }

  .products-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px auto;
    flex-wrap: wrap;
    gap: 20px 30px; /* row-gap column gap */
    margin-bottom: 15px;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 320px;
    height: 450px;
    background: #7ba05f;
    border-radius: 20px;
    overflow: hidden;
    z-index: 28;
  }
  
  .card:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #b9ac8e;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
  }
  
  .card:hover:before {
    clip-path: circle(300px at 80% 20%);
  }
  
  .card:after {
    content: attr(data-text);
    position: absolute;
    top: 3%;
    left: 3%;
    font-size: 5em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.4);
  }
  
  .imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
  }
  
  .card:hover .imgBox {
    top: 0%;
    transform: translateY(10%);
  }
  
  .contentBox {
    display: none;
    position: absolute;
    bottom: 10%;
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
  }
  
  .card:hover .contentBox {
    display: inline-block;
  }
  
  .contentBox h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .contentBox .priceBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    transition: 0.5s;
  }
  
  .contentBox .priceBox h3 {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 10px;
  }
  
  .contentBox .priceBox span {
    text-align: center;
    font-size: 18px;
    transition: 0.5s;
  }
  
  .btn{
    width: 100%;
    max-width: 200px;
    padding: 10px 5px;
    border-radius: 15px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #f02d34;
    color: #fff;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
  }
  
  .btn:hover{
    transform: scale(1.1,1.1);
  }  

  .product-card {
    width: 250px;
    height: 250px;
    cursor: pointer;
    margin: 0 20px;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    color: #324d67;
  }
  
  .product-card:hover {
    transform: scale(1.1, 1.1)
  }

  .product-flex, 
  .product-image {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
  }

  .product-name {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
  }

  .product-price {
    text-align: center;
    font-size: 17px;
    font-weight: 800;
    margin-top: 10px;
    color: black;
  }

  .product-price span {
    padding: 3px 10px;
    border-radius: 15px;
    border-bottom: 2px solid #324d67;
  }
  
  
  /* 
  ################################
  PRODUCT DETAIL
  ################################
  */
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .product-detail-container {
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    margin: 40px auto;
    color: #324d67;
  }

  .product-detail-box {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-detail-image {
    border-radius: 15px;
    max-width: 100%;
    height: 100%;
    cursor: pointer;
    transition: .3s ease-in-out;
  }

  .small-images-container {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin-top: 20px;
  }

  .small-image {
    border-radius: 8px;
    width: auto;
    max-width: 70px;
    height: 70px;
    cursor: pointer;
  }

  .product-title {
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .reviews {
    color: #f02d34;
    margin-top: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .panel {
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-image: 
      linear-gradient(
        to bottom, 
        red, 
        rgba(0, 0, 0, 0)
      ) 0 100%; 
  }

  .product-detail-desc h4 {
    margin-top: 10px;
  }
  
  .product-detail-desc p {
    margin-top: 10px;
  }

  .product-detail-desc .price {
    font-weight: 700;
    font-size: 26px;
    margin-top: 30px;
    color: #892331;
    text-align: center;
  }

  .price {
    font-weight: 700;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #892331;
    text-align: center;
  }

  .product-detail-desc .quantity {
    display: flex;
    margin-top: 10px ;
    align-items: center;
  }

  .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-detail-desc .buttons {
    display: flex;
    gap: 20px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .buttons .add-to-cart {
    width: 200px;
    height: 70px;
    padding: 10px 12px;
    border-radius: 15px;
    border: 2px solid #892331;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
    text-transform: uppercase;
    color: #892331;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
  }
  
  .buttons .add-to-cart:hover {
    transform:scale(1.1,1.1)
  }
  
  .buttons .buy-now {
    height: 70px;
    width: 200px;
    padding: 10px 12px;
    text-transform: uppercase;
    background-color: #892331;
    border-radius: 15px;
    color: #fff;
    border: none;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
  }
  
  .buttons .buy-now:hover {
    transform:scale(1.1,1.1)
  }

  .quantity-desc {
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .quantity-desc span {
    font-size: 16px;
    cursor: pointer;
  }
  
  .minus {
    border: 1px solid #892331;
    border-radius: 100%;
    color: #f02d34;
    padding: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .num {
    font-size: 30px;
    margin: 0 30px;
  }
  
  .plus {
    border: 1px solid #892331;
    border-radius: 100%;
    color: #f02d34;
    padding: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .marqueeTitle {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 20px;
  }

@media screen and (min-width: 1501px) {
  .products-container {
    width: 80%;
  }
}

@media screen and (max-width: 1201px) {

  .title {
    font-size: 28px;
  }

  .products-container {
    gap: 20px 15px;
  }

  .py {
    padding: 10px;
  }

  .product-detail-container {
    width: 90%;
    margin: 40px;
  }

  .buttons,
  .quantity {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .price {
    text-align: center;
  }
}

@media screen and (min-width: 1025px) {

  .buttonForMobile {
    display: none;
  }
}

@media screen and (max-width: 1024px) {

  .w50 {
    width: 100%;
  }

  .buttonForPc {
    display: none;
  }

  .title {
    margin-bottom: 10px;
  }

  .products-container {
    gap: 20px 10px;
  }

  .product-detail-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;
    gap: 30px;
    padding: 0 20px;
  }

  .small-images-container {
    justify-content: center;
  }

  .product-title {
    text-align: center;
  }

  .reviews {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {

  .products-container {
    gap: 20px 10px;
  }

  .py {
    padding: 10px 0;
  }
  
  .product-detail-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;
  }

  .product-detail-box {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quantity {
    display: flex;
    flex-direction: column;
  }

  .buttons .add-to-cart {
    width: 150px;
    padding: 0;
  }
  
  .buttons .buy-now {
    width: 150px;
    padding: 0;
  }

  .products-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}