.mx20 {
    margin: 0 20px;
}

.w50 {
    width: 100%;
    height: auto;
}

.btnContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 100%;
    max-width: 300px;
    padding: 10px 12px;
    margin-top: 40px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #892331;
    color: #fff;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
}

.btn:hover {
    transform: scale(1.1, 1.1);
}

.title {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 30px;
    text-align: center;
}

.title2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    color: #892331;
}

.col {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraph {
    height: auto;
    line-break: normal;
    line-height: 1.6;
    text-align: center;
    width: 80%;
    margin: 30px auto;
}

.hr {
    width: 50%;
    margin: 0px auto;
}

@media screen and (max-width: 1201px) {
    
    .col {
        flex-direction: column;
    }
    
    .title {
        font-size: 28px;
    }

    .paragraph {
        text-align: center;
        width: 100%;
        padding: 0 20px;
    }

    .w50 {
        width: 100%;
    }

    .left {
        flex-direction: column;
        width: 100%;
    }

    .right {
        width: 100%;
        flex-direction: column-reverse;
    }

    .btn {
        margin: 20px auto;
        font-size: 20px;
    }
}