@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --count: 4;
  --slide-count: 3;
  --slide-duration: 0s;
  --slide-step: (var(--slide-duration) / var(--count));
  --distance: 100%;
}

body {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  z-index: 999999;
  height: 100px;
  width: 100%;
  max-width: 500px;
}

.main {
  /* position: absolute; */
  width: 100%;
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.vis {
  display: flex;
  flex-direction: column;
}

.novis {
  display: none;
}

/* STYLES LOGIN */

.login {
  height: 100vh;
  /* margin-top: -100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 0.6;
  background-image: url('../../ecommerce/public/degustazioni.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.login h1 {
  font-size: 24px;
  margin: 10px 0;
  color: white;
  text-align: center;
}

.form-login {
  background-color: rgba(185, 33, 33, 0.5);
  padding: 20px;
  border-radius: 25px;
}

.form__group {
  position: relative;
  padding: 15px 0;
  width: 90%;
  margin: 0 auto;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  color: #fff;
  padding: 5px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.login form button {
  width: 100%;
  max-width: 300px;
  padding: 5px 0px;
  margin-top: 20px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #892331;
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

/* END STYLES LOGIN */


/* STYLES NAVBAR */

.navbar-container {
  width: 100%;
  max-width: 500px;
  height: 110px;
  display: flex;
  justify-content: space-between;
  top: 0;
  position: fixed;
  z-index: 999999;
  background: white;
  /* margin: 10px 0; */
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-container button {
  font-size: 2rem;
  /* width: 100%; */
  display: flex;
  justify-content: flex-end;
  margin: 10px 15px;
}

/* END STYLES NAVBAR */


/* STYLES QR READER */

.qr-reader-container {
  position: relative;
  max-width: 500px;
  width: 100%;
  position: fixed;
  bottom: 80px;
  display: flex;
  justify-content: flex-end;
}

.qr-reader {
  z-index: 20;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  color: #000;
  cursor: pointer;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-icon {
  width: 50px;
  height: 50px;
}

/* END STYLES QR READER */


/* STYLES MAIN CONTENT */

.tab-content {

  padding-top: 110px;
  height: calc(100vh); /* 110px = fixed height of navbar */
  background: #d4e1bf;
}


/* STYLES HOME */

#home {
  padding: 0 10px;
}

#home h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 0.4em;
  padding-top: 10px;
}

#home .btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}

#home .btn {
  width: 100%;
  max-width: 180px;
  padding: 3px 0px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #892331;
  color: #fff;
  cursor: pointer;
}

#home p {
  font-size: medium;
  text-align: center;
}

/* STYLES SLIDER TITLE */

@media(prefers-reduced-motion: no-preference) {
  :root {
    --slide-duration: 0.5s;
  }
}

#home .slider-title {
  overflow: hidden;
}

#home .slider-title h1 {
  font-size: 24px;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  color: black;
}

#home .slider-title h1 span {
  line-height: 0.85;
}

#home h1 span:not([aria-hidden]) {
  color: transparent;
  animation: fill 0s calc(calc(var(--count) * var(--slide-step)) + (var(--slide-duration) * var(--slide-count))) both;
}

@keyframes fill {
  to {
    color: black;
  }
}

#home .slider-title h1 span[aria-hidden] {
  --delay: calc(var(--index) * var(--slide-step));
  position: absolute;
  display: inline-block;
  animation:
    slide var(--slide-duration) var(--delay) var(--slide-count) backwards ease-in,
    slide-to calc(var(--slide-duration) * 0.5) calc(var(--delay) + (var(--slide-duration) * var(--slide-count))) forwards cubic-bezier(.87,1.4,.87,1.4);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  --block: calc(100% / var(--count));
  clip-path: inset(
    calc(var(--index) * (var(--block)))
    -50%
    calc(100% - ((var(--index) * var(--block)) + var(--block)))
    -50%);
}

#home .slider-title h1 span:nth-of-type(even) {
  --distance: -150%;
}

@keyframes slide {
  0% {
    transform: translate(-50%, -50%) translateX(calc(var(--distance) * -1));
  }
  100% {
    transform: translate(-50%, -50%) translateX(var(--distance));
  }
}

@keyframes slide-to {
  0% {
    transform: translate(-50%, -50%) translateX(calc(var(--distance) * -1));
  }
}

/* END STYLES SLIDER TITLE */

/* END STYLES HOME */


/* STYLES MAP */

#map {
  padding: 0 10px;
}

#map h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 0.4em;
  padding-top: 10px;
}

#map p {
  font-size: medium;
  text-align: center;
}

/* END STYLES MAP */


/* STYLES HELP */

#help {
  padding: 0 10px;
}

#help h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 0.4em;
  padding-top: 10px;
}

#help p {
  font-size: medium;
  text-align: center;
}


/* STYLES FAQ */

.wrap-collabsible input[type="checkbox"] {
  display: none;
}

.wrap-collabsible {
  margin: 10px 0;
}

.collapsible-lbl-toggle {
  display: block;
  /* font-weight: bold; */
  /* font-family: monospace; */
  font-size: 1.2rem;
  text-transform: uppercase;
  /* text-align: center; */
  padding: 10px;
  color: #ddd;
  background: #0069ff;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.collapsible-lbl-toggle:hover {
  color: #fff;
}

.collapsible-lbl-toggle::before {
  content: " ";
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}

/* change direction arrow */
.collapsible-toggle:checked + .collapsible-lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.collapsible-toggle:checked + .collapsible-lbl-toggle + .collapsible-content {
  max-height: 350px;
}

/* when is opening change border-bottom-x */
.collapsible-toggle:checked + .collapsible-lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .collapsible-content-inner {
  /* background: rgba(0, 105, 255, 0.2); */
  border-bottom: 1px solid rgba(0, 105, 255, 0.45);
  border-right: 1px solid rgba(0, 105, 255, 0.45);
  border-left: 1px solid rgba(0, 105, 255, 0.45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  /* padding: 0.5rem 1rem; */
  padding: 10px;
}

.collapsible-content p {
  /* margin-bottom: 0; */
  font-size: medium;
}

/* END STYLES FAQ */

/* END STYLES HELP */

/* END STYLES MAIN CONTENT */


/* STYLES TAB BAR */

.tabbar {
  z-index: 50;
  height: 70px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: content-box;
  bottom: 0;
  position: fixed;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  transition: background-color 0.4s;
}

.home.active {
  --outset-shadow: rgba(255, 159, 40, 0.45);
  --inset-shadow: rgba(88, 54, 13, 0.45);
  --clay-box-shadow: rgba(88, 54, 13, 0.4);
  --clay-background-color: #cf5c0f;
  --clay-fg-color: #f1f2f3;
  color: #cf5c0f;
}

.map.active {
  --outset-shadow: rgba(93, 255, 85, 0.45);
  --inset-shadow: rgba(28, 78, 26, 0.45);
  --clay-box-shadow: rgba(28, 78, 26, 0.4);
  --clay-background-color: #4dd146;
  --clay-fg-color: #f1f2f3;
  color: #4dd146;
}
.map-style {
  --app-content-background-color: #4dd146;
}

.help.active {
  --outset-shadow: rgba(230, 230, 230, 0.45);
  --inset-shadow: rgba(81, 81, 81, 0.45);
  --clay-box-shadow: rgba(81, 81, 81, 0.4);
  --clay-background-color: #783896;
  --clay-fg-color: #f1f2f3;
  color: #783896;
}

.tabbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  background-color: #f9f8fa;
  height: 60px;
}

.tabbar li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: #f9f8fa;
  position: relative;
  color: #888;
  cursor: pointer;
  top: 1px;
  left: 0;
  width: 60px;
  height: 60px;
  transition: top 0.2s ease-out, width 0.4s, border-radius 0.4s, box-shadow 0.4s;
}

.tabbar .active {
  z-index: 100;
  width: 60px;
  height: 60px;
  top: -10px;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* END STYLES TAB BAR */





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 30; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  height: 100%;
  width: 100%;
  max-width: 500px;
  top: 200px;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 1s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 2px 16px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}